.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 15px 30px;
}

.logo {
  color: white;
}

.nav-links button {
  background: none;
  border: none;
  color: #bbb;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
}

.nav-links button:hover {
  color: white;
}
